<launch>

	<!-- odometry & mapping from hector_mapping -->
	<include file="$(find hector_mapping)/launch/mapping_default.launch" />
	<!-- sensor node & transformation -->
	<node pkg="tf" type="static_transform_publisher" name="base_frame_foot" args="0 0 0 0 0 0 base_footprint base_frame 100" />
	
	<!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 base_link laser 100" /> -->
	<node pkg="tf" type="static_transform_publisher" name="scanmatcher_odom_broadcaster" args="0 0 0 0 0 0 odom base_link 100"/> 
	<!-- <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
		<param name="frame_id" type="str" value="laser"/> 
		<param name="port" type="string" value="/dev/ttyACM0"/> 
		<param name="intensity" type="bool" value="true"/>
	</node> -->
</launch>
