
<launch>
    <include file="$(find hector_mapping)/launch/mapping_default2.launch"/>
    <node pkg="sek_drive" type="drive_base" name="drive_base" output="screen" required="true"/>
    <!-- <node pkg="sek_drive" type="vel_logger" name="vel_logger" output="screen"/> -->
    <node pkg="tf" type="static_transform_publisher" name="odom_base_foot" args="0 0 0 0.0 0.0 0.0 /odom /base_link 40" /> 
    <node pkg="tf" type="static_transform_publisher" name="bl_laser" args="0.30 0.0 0 0.0 0.0 0.0 /base_link /laser 40" />
    <node pkg="joy" type="joy_node" name="joy_node" output="screen"/>
    
	<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node"> 
        <!--<param name="intensity" type="bool" value="false"/>-->
    </node>
    <node pkg="robot_server" type="robotserverBl.py" name="robot_server" required="true" output="screen"/>
</launch> 
